
    <!-- 底部
    ================================================== -->
    <footer class="footer">
      <div class="container">
          <p>  <strong></strong> © 2016-2022 waimaoshensou.com. All rights reserved</p>
      </div>
    </footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
	
</div>
<!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDEzNjk2OF80MTI0NjRfODAwMTM2OTY4Xw"></script>
<!-- WPA Button End -->